extends ./template/layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(src='/js/part2.js')
	script(src='/js/blockchain.js')
	script(type='text/javascript').
		$(document).ready(function(){
			
		});
		
		
// --------------- Navigation Bar  -------------- //
block navpanel
	include ./template/nav_part2.jade
	
	
// --------------- Main Stuff  -------------- //
block content
	#contentPanel(style="background-color:#46444c; margin:0;")
		
		hr
		
		
		form(method="POST" action="#" style="text-align: center;")
			p.hint 
				!{bag.session.error_msg}
				br
				br
			p

				input(type="text" placeholder="LOGIN" name="username" style="border-radius:4px;")
			p

				input(type="password" placeholder="PASSWORD" name="password" style="border-radius:4px;")
			button(type="submit" style="margin-top:10px; border-radius:4px;")#loginButton Login
