#logo
	img(src="/imgs/Draft-Logo.png" style="display:block; margin: -10px auto 0px; border-radius: 30px; width: 180px; vertical-align:center; horizontal-align:center")


#linkWraps(style="top: 17px;")
	// there is JS code that will show the corresponding panel to the clicked navigation div.
	// ie: clicking <div class="nav">HOME</div> will show panel #homePanel
	// this code is in layout.jade
	//.nav#homeLink HOME
	.nav#newItemLink(style="font-weight: 300;")  NEW ITEM 
	.nav#dashboardLink(style="font-weight: 300;") DASHBOARD
	.nav#transferLink(style="font-weight: 300;") TRANSFER
	.nav#confirmLink(style="font-weight: 300;") CONFIRM 
	.nav#changeStatusLink(style="font-weight: 300;") CHANGE STATUS
	
#whoAmI(style="color: grey; text-align: center;top: 5px;")
	span.fa.fa-user#userIcon
	span#userField(style="font-weight: 300;") LOGIN
	span &nbsp;
	span.fa.fa-angle-down
	
	#userSelect
		.userLine(name="#{bag.setup.USER1}")
			span #{bag.setup.USER1.toUpperCase()} &nbsp;&nbsp;
		.userLine(name="#{bag.setup.USER2}")
			span #{bag.setup.USER2.toUpperCase()}&nbsp;&nbsp;
			
			
form#loginWrap(style="height:55px; margin:auto")
	a(href="/logout" style="font-weight: 300;vertical-align: middle; padding-top:20%" ) Logout
